<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <title>PBH</title>
    <link rel="stylesheet" href= "css/styleList.css">
</head>
    <!--Corresponde al punto 1 de la tarea; es la portada -->
<body>
    <h1>Bienvenidos a Patitas en Busca de un Hogar</h1>     
    
    <!--Botones del menu-->
    <div>
        <button type="button" id="btn-agregar-aviso-adoptción" onclick="window.location.href='form.html'">Agregar aviso de adopción</button>
        <button type="button" id="btn-ver-listado-de-adopciones" onclick="window.location.href='listado.html'">Ver listado de adopciones</button>
        <button type="button" id="btn-estadisticas" onclick="window.location.href='estadisticas.html'">Estadísticas</button>
    </div>
    <!--Tabla que contiene las actividades-->
    <div>
        <table>
            <thead>
                <tr>
                    <th>Fecha de publicación</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad Tipo Edad </th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025-03-28<br>
                        12:00
                    </td>
                    <td>Santiago</td>
                    <td>
                        Estacion Central
                    </td>
                    <td>1 Gatos <br>
                        2 años
                    </td>
                    <td> <img src = "fotos/gato2años.jpeg" width="320px" height="240px"> </td>
                </tr>

                <tr>
                    <td>2025-09-04<br>
                        13:00
                    </td>
                    <td>Santiago</td>
                    <td>
                        La Florida
                    </td>
                    <td>3 Perros <br>
                        6 meses
                    </td>
                    <td> <img src = "fotos/3perros6meses.jpeg" width="320px" height="240px"> </td>
                </tr>

                <tr>
                    <td>2025-07-04<br>
                        12:00
                    </td>
                    <td>Santiago</td>
                    <td>
                        Peñalolen
                    </td>
                    <td>1 Perro <br>
                        13 años
                    </td>
                    <td> <img src = "fotos/1perro13años.jpeg" width="320px" height="240px"> </td>
                </tr>

                <tr>
                    <td>2025-08-28<br>
                        12:00
                    </td>
                    <td>Santiago</td>
                    <td>
                        Puente Alto
                    </td>
                    <td>2 Gatos <br>
                        2 años
                    </td>
                    <td> <img src = "fotos/2gatos2años.jpeg" width="320px" height="240px"> </td>
                </tr>

                <tr>
                    <td>2025-05-28<br>
                        12:00
                    </td>
                    <td>Santiago</td>
                    <td>
                        La Reina
                    </td>
                    <td>1 gato <br>
                        6 meses
                    </td>
                    <td> <img src = "fotos/gato6meses.jpeg" width="320px" height="240px"> </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>