<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Informacion Adopcipón</title>
    <link rel ="stylesheet" href="css/styleList.css">
</head>
<body>
    <h2>Información Detallada de la adopción</h2>
    <div>
        <p id = "fecha-publicacion"> Fecha publicación</p><br>
        <p id = "fecha-entrega">Fecha Entrega</p><br>
        <p id = "comuna">Comuna</p><br>
        <p id = "sector">Sector</p><br>
        <p id = "C-T-E">Cantidad TIpo Edad</p><br>
        <p id= "nombre-Contacto">Nombre Contacto</p><br>
        <p id= "total-fotos">Total Fotos</p><br>

    </div>
    

    <button type="button" id="btn-volver-a-la-tabla" onclick="window.location.href='listado.html'">Volver a la tabla</button>
    <button type="button" id="btn-volver-al-inicio" onclick="window.location.href='index.html'">Volver al inicio</button>
    <script src="js/llenarTabla.js"></script>
</body>
</html>